<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <appSettings>
    <add key="blvt:ClientId" value="43c22666-7d4c-43cb-93b9-9f94074c3e65" />
    <add key="blvt:RedirectUrl" value="https://95.177.142.142/CallBack" />
    <add key="blvt:ClientSecret" value="YdwI0D5BdrgnKRZ5RTPY1QQaoDW7M_eapfPxRwkOwJoyL_InzlXUoDwmUc7BnL0_1h1OsH6nlotG6MTdJwDOzw" />
    <add key="blvt:Authority" value="https://staging-sso.stcs.com.sa" />
    <add key="blvt:EventReponseURL" value="https://staging-marketplace.stcs.com.sa/v1/events/"/>
    <add key="blvt:LogLocation" value="C:\inetpub\wwwroot\Logs\Logs.txt"/>
  </appSettings>

  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
    <standardEndpoints>
      <webHttpEndpoint>
        <!-- 
            Configure the WCF REST service base address via the global.asax.cs file and the default endpoint 
            via the attributes on the <standardEndpoint> element below
        -->
        <standardEndpoint name="" helpEnabled="true" automaticFormatSelectionEnabled="true"/>
      </webHttpEndpoint>
    </standardEndpoints>
  </system.serviceModel>
</configuration>
