<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
  
  <appSettings>
    <add key="blvt:ClientId" value="1747d364-facb-4b9e-9885-5a81b0605e77" />
    <add key="blvt:RedirectUrl" value="http://localhost:63322/CallBack" />
    <add key="blvt:ClientSecret" value="ANimaG6gNnvU1CD_nZzfuaJeruoY_f5QhILIG3SDYli-yekYEQs7rQLMvk_GfNcOOibRotVXIf1z9asulfFz1yA" />
    <add key="blvt:Authority" value="https://staging-sso.stcs.com.sa" />
    <add key="blvt:EventReponseURL" value="https://staging-marketplace.stcs.com.sa/v1/events/"/>
  </appSettings>

  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
    <standardEndpoints>
      <webHttpEndpoint>
        <!-- 
            Configure the WCF REST service base address via the global.asax.cs file and the default endpoint 
            via the attributes on the <standardEndpoint> element below
        -->
        <standardEndpoint name="" helpEnabled="true" automaticFormatSelectionEnabled="true"/>
      </webHttpEndpoint>
    </standardEndpoints>
  </system.serviceModel>
</configuration>
